In [66]:
import pandas as pd
import itertools

In [3]:
a = {
    "Columns": ['key1', 'key2', 'key3'],
    "Description": ['Банковские API каких-то важных документов'],
    "RowCount": 2,
    "Rows":[
        ["value1", "value2", "value3"],
        ["value4", "value5", "value6"]
    ]
}

In [77]:
df = pd.DataFrame()
l = []
for i in a:
    match i:
        case "Rows":
            df = pd.DataFrame(a[i], columns=l)
        case "Columns":
            l.append(a[i])
            l = list(itertools.chain(*l))

In [78]:
l

['key1', 'key2', 'ke3']

In [79]:
df

     key1    key2     ke3
0  value1  value2  value3
1  value4  value5  value6